/******** FOLHA DE ESTILO PRINCIPAL ********/
/********
RESET CSS 
********/
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

a:link, a:active, a:visited{
    color:#af670a;
    text-decoration: none;
}
a:hover{
    color: #227115 ;
}

#container{
    width: 1080px;
    border: 1px red solid;
    margin: 0 auto;
}
#logo h1{
    float:left;
}
#logo a {
    width: 248px;
    height: 21px;
    display: block;
    background:url(../img/logo.png) no-repeat;
    text-indent: -9999px;
}

header{
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;

}

nav ul li{
    float: left;
}
nav ul li a:link{
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

/* Principal
------------------------------------------*/

#conteudo{
    width: 710px;
    float: left;
    background:green;
}
aside{
    width: 350px;
    float:right;
    background: #ebe7dd;
    padding-bottom: 30px;
}

section#visita{
    background-color: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}
h4{
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

/* Formulários
------------------------------------------*/
input{
    height: 20px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo{
    border: 1px solid #ada484;
}

input.botao{
    background: #9b9271;
    color: white;
    height: 40px;
    width: 100%;
}
fieldset{
    border: none;   
}
fieldset legend{
    display: none;
}

/* Galeria
------------------------------------------*/
section#galeria{
    padding: 0 27px 0 27px;
}
section#galeria ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
section#galeria ul img{
    width: 93px;
    height: 93px;
    padding: 5px;
    filter: grayscale();
}
section#galeria ul img:hover{
    filter:none;
    transition: filter 0.5s;
}
section#galeria ul li a{
    display: block;
    background: url(../img/fundo-foto.png) no-repeat;
    padding: 16px 15px 18px 15px;
}

